.container {
  height: 300px;
  /* your code here */
  display: grid;
  grid-template-columns: minmax(100px,1fr) 3fr;
}

.left {
  background-color: #f44336;
  /* your code here */
  
}

.right {
  background-color: #2973af;

}
