



/* 
.modal-header {
  background-color: #f44336;
  height: 50px;

}

.modal-body {
  background-color: #2973af;

  flex: auto;

} */

.modals {

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
}

.modal {
  width: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-header {
  height: 50px;
   background-color: #f44336;
  display: flex;
  align-items: center;

}

.modal-body {
   background-color: #2973af;
   display: flex;
   min-height: 40px;
  flex:auto;

 
 
 
}
